/* Body Styling */
body {
    margin: 0;
    padding: 10px;
    min-width: 400px;
    font-family: 'Spline Sans', sans-serif;
}

/*  Header Styling */
h1 {
    font-family: 'Acme', sans-serif;
    font-family: 'Shizuru', cursive;
    font-size: 50px;
    text-align: right;
    margin: 0;
    color: #753422;
}

/* URL Bar Styling */
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #C7B198;
    margin-bottom: 4px;
}

/* Button Styling */
button {
    font-size: 12px;
    font-family: 'Spline Sans', sans-serif;
    background-color: white;
    color: #C7B198;
    padding: 10px 20px;
    border: 1px solid #C7B198;
    align-items: center;
    margin: 2px;
}

/* Manual and Tab Button Styling */
#manual-btn, #tab-btn {
    background-color: #C7B198;
    color: white;
}

/* Links Styling */
ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    font-size: 12px;
}

li {
    margin-top: 5px;
}

a {
    color: #753422;
}